<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">News Feed
            <small>all news around the world</small>
        </h1>
    </div>
</div>

{{#each posts}}
<div class="row post_row">
    <div class="col-md-12">
        <a href={{post_url}}>
            <img class="img-thumbnail" src={{url_to_image}} alt="" style="width:175px;height:100px;">
        </a>
    <div class="col-md-9">
        <h4><a href={{post_url}}>{{title}}</a></h4>
        <h4><small>News Source : {{source_id}}, post_type: {{post_type}}</small></h4>
        <h4><small>Author: {{author}}, Published time: {{published_at}}</small></h4>
        <p>{{description}}</p>
        <a class="btn btn-primary" href={{post_url}}>Read News <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
          </div>
</div>
{{/each}}
